article {
    margin-top: 1%;
    margin-bottom: 1%;
}

#personal-intro {
    text-align: center;

    margin-left: 15%;
    margin-right: 15%;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects section {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.project-description {
}
