html {
    background-color: lightpink;
    font-family: "Ubuntu Mono", Arial;
    font-size: 1.5em;
}

body {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

#footer-cat-carrier {
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

.cat-carrier {
    white-space: pre;
}
